alabaster==0.7.13
amqp==5.1.1
asgiref==3.6.0
Babel==2.12.1
billiard==4.1.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.5
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.2.7
cron-descriptor==1.4.0
distlib==0.3.7
Django==4.2
django-cors-headers==4.2.0
django-debug-toolbar==4.0.0
django-extensions==3.2.3
django-filter @ git+https://github.com/carltongibson/django-filter.git@f38dcdd32d20095cb823cbd5e85946510f146e29
django-money==3.2.0
django-timezone-field==5.1
djangorestframework==3.14.0
docutils==0.20.1
filelock==3.12.2
flower==2.0.0
greenlet==2.0.2
gunicorn==21.2.0
humanize==4.7.0
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
kombu==5.3.1
MarkupSafe==2.1.3
packaging==23.1
Pillow==10.0.0
pipenv==2023.7.11
platformdirs==3.9.1
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psycopg2==2.9.6
psycopg2-binary==2.9.6
py-moneyed==3.0
pydotplus==2.0.2
Pygments==2.16.1
pyparsing==3.1.1
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
redis==4.6.0
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.5
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.18
sqlparse==0.4.3
tornado==6.3.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
virtualenv==20.24.0
virtualenv-clone==0.5.7
wcwidth==0.2.6